/* Warna Judul */
h1{
    color: blue;
}

/* Ukuran Gambar */
img{
    width:200px;
    height:200px;
}

/* Garis Horizontal */
hr {
    border: none;
    height: 1px;
    color: #333; 
    background-color: #333;
}

/* background Warna Paragraf */
.p1{
    background-color: lightgray;
}
